html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

.result {
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 15px 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.result > div {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.result > div span:first-child {
  font-size: clamp(2.8rem, 20vw, 22.25rem);
  color: white;
}

.result > div span:last-child {
  color: rgba(255, 255, 255, 0.536);
  font-weight: bold;
  font-size: clamp(0.8rem, 3vw, 10.25rem);
}

.result h2 {
  color: rgba(255, 255, 255, 0.675);
  font-size: clamp(1rem, 4vw, 10.25rem);
}

.result h3 {
  color: rgb(255, 255, 255);
  font-size: clamp(1rem, 6vw, 10.25rem);
  margin-top: 20px;
  margin-bottom: 0;
}

.result p {
  color: rgba(255, 255, 255, 0.536);
  font-weight: bold;
  font-size: clamp(0.8rem, 3vw, 10.25rem);
  padding: 0 40px 0;
  margin-bottom: 30px;
}

/* Rules CSS Summary */
.summary {
  background-color: white;
  margin-top: -20px;
  overflow: hidden;
  padding: 0 40px;
}

.summary > h2 {
  margin-top: 40px;
  font-size: clamp(1em, 4.5vw, 10em);
}

.summary ul {
  list-style: none;
  padding: 0;
}

ul > li {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: clamp(1em, 4vw, 10em);
  border-radius: 10px;
  padding: 15px;
  padding-left: clamp(2.5em, 12%, 20em);
}

ul > li p:last-child span:last-child {
  color: rgba(0, 0, 0, 0.5);
}

ul li > * {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

/* Reaction css */
ul .reaction {
  background: url(../assets/images/icon-reaction.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: clamp(1em, 8%, 10em);
  background-color: hsla(0, 100%, 67%, 0.085);
}

ul .reaction p:first-child {
  color: hsl(0, 100%, 67%);
}

/* Memory css */
ul .memory {
  background: url(../assets/images/icon-memory.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: clamp(1em, 8%, 10em);
  background-color: hsla(39, 100%, 56%, 0.085);
}

ul .memory p:first-child {
  color: hsl(39, 100%, 56%);
}

/* verbal css */
ul .verbal {
  background: url(../assets/images/icon-verbal.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: clamp(1em, 8%, 10em);
  background-color: hsla(166, 100%, 37%, 0.085);
}

ul .verbal p:first-child {
  color: hsl(166, 100%, 37%);
}

/* Visual css */
ul .visual {
  background: url(../assets/images/icon-visual.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: clamp(1em, 8%, 10em);
  background-color: hsla(234, 85%, 45%, 0.085);
}

ul .visual p:first-child {
  color: hsl(234, 85%, 45%);
}

/* button de peticion de continuar */
button {
  border: none;
  width: 100%;
  font-size: clamp(1em, 4vw, 10em);
  color: white;
  background-color: hsl(224, 30%, 27%);
  border-radius: 20px;
  padding: 15px 0;
  margin: 5px 0 20px;
}

button:active {
  background: hsl(224, 30%, 27%);
  color: rgb(154, 88, 241);
}

@media screen and (min-width: 600px), screen and (orientation: landscape) {
  body {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    height: 100vh;
    font-family: sans-serif;
    background-color: #f5f5f5;
  }
  .content {
    display: flex;
    max-width: 800px;
  }

  .result {
    flex: 1;
    border-radius: 25px;
    padding: 20px;
  }

  .result div {
    width: 60%;
  }

  .summary {
    flex: 1;
    margin-top: 0;
    padding: 20px;
    padding-left: 40px;
    margin-left: -20px;
  }

  button {
    margin: 10px 0;
    font-size: clamp(1em, 2vw, 1.2em);
  }

  ul {
    margin: 20px 0;
  }

  .summary h2 {
    margin: 0;
    font-size: clamp(1em, 1.5vw, 2.25rem);
  }

  .result > div span:first-child {
    font-size: clamp(2.8rem, 13vw, 5.25rem);
  }

  .result > div span:last-child {
    font-size: clamp(0.8rem, 1vw, 5.25rem);
  }

  .result h2 {
    font-size: clamp(1rem, 1.5vw, 2.25rem);
    margin: 0 0 25px;
  }

  .result h3 {
    font-size: clamp(1rem, 4vw, 2rem);
  }

  .result p {
    font-size: clamp(0.8rem, 1vw, 1rem);
  }

  ul > li {
    font-size: clamp(0.9em, 1vw, 5.25rem);
  }
}

@media screen and (min-width: 600px), (hover: hover) {
  button:focus {
    outline: 2px solid hsl(0, 100%, 67%);
    filter: drop-shadow(2px 2px 9px hsl(0, 100%, 67%));
  }

  button:hover {
    background: linear-gradient(
      180deg,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
    cursor: pointer;
  }
}
